.contenedor {
    background-image: url("../../assets/imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

form {
    margin: auto;
    padding-top: 180px;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
      
}

.input-group {
    margin-bottom: 15px;
}

.form-control {
    text-align: center;

}

.btn-secondary {
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.texto {
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(-15deg);
}

.existe img {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 480px;
    height: 210px;
    top: 170px;
    left: 35%;
    background-color: rgba(255, 255, 255, 0.85);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 500px black;
}

.existe h2 {
    padding: 65px 0px 0px 0px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 480px;
    height: 210px;
    top: 170px;
    left: 35%;
    z-index: 2;
}

.existe p {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 480px;
    height: 210px;
    top: 170px;
    left: 35%;
    z-index: 2;
    padding: 105px 0 0 0;
}

