.contenedor {
    background-image: url("../../assets/imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

form {
    margin: auto;
    padding-top: 180px;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
}

.input-group {
    margin-bottom: 15px;
}

.btn-secondary {
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.texto {
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(-15deg);
}