<div class="contenedor">

    <div class="busqueda">
        <h2>Bienvenid@ XXXXX</h2>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1"></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Sacar al perro">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1"></label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Prioridad</option>
                    <option>Diaria</option>
                    <option>Semanal</option>
                    <option>Mensual</option>
                    <option>Urgente</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Sacar al perro tres veces al día..."></textarea>
            </div>
            <input type="submit" value="Guardar" class="btn btn-secondary">
        </form>
        <div id="linea"></div>
        <input class="form-control buscar" type="text" placeholder="Buscar tarea">
        <select class="form-control prioridad">
            <option>Seleccionar prioridad</option>
            <option>Diaria</option>
            <option>Semanal</option>
            <option>Mensual</option>
            <option>Urgente</option>
        </select>

        <button class="btn btn-secondary btnSalir">Salir</button>
    </div>
    <div class="tareas">
        <h2>Estas son tus próximas tareas</h2>

        <div class="tarea">
            <h3>Sacar al perro</h3>
            <div id="acciones">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni unde hic eaque quos. Quod earum a
                    cumque,
                    beatae nulla ut ab accusamus. Sint quos saepe unde exercitationem cum aperiam molestiae?</p>
                <button class="btn btn-outline-danger">Eliminar</button>

            </div>

            <div>
                <p>Prioridad</p>
            </div>
        </div>
        <div class="tarea">
            <h3>Sacar al perro</h3>
            <div id="acciones">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni unde hic eaque quos. Quod earum a
                    cumque,
                    beatae nulla ut ab accusamus. Sint quos saepe unde exercitationem cum aperiam molestiae?</p>
                <button class="btn btn-outline-danger">Eliminar</button>

            </div>

            <div>
                <p>Prioridad</p>
            </div>
        </div>
    </div>
</div>