<div class="contenedor">

    <form [formGroup]="login" (ngSubmit)="onLogin()">
        <div class="form-row align-items-center">

            <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Usuario"
                        formControlName="usuario">
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputName">Contraseña</label>
                <input type="password" class="form-control" id="inlineFormInputName" placeholder="******"
                    formControlName="password">
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-secondary">Entrar</button>
            </div>
            <button type="submit" class="btn btn-secondary" [routerLink]="['/login']">Registrarse</button>

        </div>

    </form>
    <div id="imgregistro" *ngIf="imgregistro">
        <img src="../../assets/imagenes/registro.gif" alt="">
    </div>
    <div class="texto">
        <h2>Agenda TODO</h2>
        <p>Mi agenda TODO para todo lo que necesite recordar...</p>
    </div>

</div>