.contenedor {
    background-image: url("../../assets/imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

form {
    display: block;
    margin: 0 0 0 10px;
    width: 50%;
    padding-right: 0;
    font-family: 'Montserrat', sans-serif;

}

.texto {
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(-15deg);
}

.btn {
    margin-right: 5px;
}

#imgregistro {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 40%;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 500px black;
    z-index: 3;
}

.alert {
    position: absolute;
    top: 0px;
    width: 620px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.alert p {
    margin: 10px;
}

#foto {
    width: 250px;
    position: absolute;
    top: 30%;
    left: 53%;
    transform: rotate(-15deg);
}